*{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-top: 32px;
    width: 100%;
    height: 100%;
}
.playspace{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    width: 100vh;
    height: 90vh;
}
.rowdown,
.rowup{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.dabba,
.dabba8,
.dabba1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}
#box57,
#box51,
#box61,
#box46,
#box47{display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: auto;
}

.semirico,
.rico{
    text-decoration: underline;
    
}
.rico.red > span{
    transform: rotate(45deg);
    background-color: #000000;
    color: white;
    border-radius: 3px;
    width: 90px;
    text-decoration: underline;
    text-align: center;
    height: 20px;
}
.semirico.red > span{
    transform: rotate(-45deg);
    background-color: black;
    color: white;
    border-radius: 3px;
    width: 90px;
    text-decoration: underline;
    text-align: center;
    height: 20px;
}
.rico.aqua > span{
    transform: rotate(135deg);
    background-color: black;
    color: white;
    border-radius: 3px;
    width: 90px;
    height: 20px;
    text-align: center;
    text-decoration: underline;
}
.semirico.aqua > span{
    transform: rotate(-135deg);
    background-color: black;
    color: white;
    border-radius: 3px;
    width: 90px;
    text-decoration: underline;
    text-align: center;
    height: 20px;
}
#box8,
#box14,
#box4,
#box18,
#box19{display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: auto;
}
.rotation{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: absolute;
    background-color: yellowgreen;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    visibility: hidden;
    margin-left: -250px;
    margin-top: 50px
    ;
}
.left,
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 70px;
    height: 50px;
    text-align: center;
    box-shadow: 1px 1px;
    background-color: aliceblue;
    cursor: pointer;
}
.rico{
    visibility: visible;
}
@media screen and (min-width:320px) and (max-width:425px){
    .playspace{
        width: 59vh;
        height: 90vh;
    }
    .rotation{
        margin: 50px;
        width: 100px;
        height: 50px;
    }
    .left,
    .right{
        width: 35px;
        height: 25px;
        font-size: x-small;
    }
}